:root {
    --gutter-width: 16px;
    --story-bg: #FFFF99;
    --story-text-color: #000;
}

body {
    font-size: 16pt;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

blockquote {
    border: 1px solid;
    padding: 1rem;
}
